/*
1. Почистить код удалить комментарии +
2. одинаковые стили вынести в новый файл global.css
3. На всех страницах проверить наличие тегов h1,h2,h3 и пофиксить
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
}

* button,
* a {
  cursor: pointer;
}
* a {
  text-decoration: none;
  color: unset;
  font-family: unset;
}
:root {
  --color-main: #435147;
  --color-main-bright: #6f8776;
  --gradient-header: linear-gradient(0deg, #606f68, #435147);
  --gradient-footer: linear-gradient(180deg, #606f68, #435147);
  --color-secondary: #d2d2d242;
  --btn-bg: #d4d2d0;
  --shadow: rgba(0, 0, 0, 0.25);
}

header {
  position: sticky;
  top: 0;
  background: var(--gradient-header);
  z-index: 9999;
  color: white;
  padding: 20px 0px;
}
main {
  display: flex;
  flex-direction: column;
}
h2 {
  color: #6c8167;
  text-transform: uppercase;
  font-size: 26px;
  max-width: 1180px;
  text-align: left;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}
h3,
.container h2 {
  text-transform: uppercase;

  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  color: black;
  text-align: center;
}
h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  text-align: center;
  color: white;
}
h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
h6 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row !important;
}
.container {
  max-width: 1180px;
  width: 100vw;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.nav-list {
  flex-grow: 1;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list li {
  text-align: center;
  flex-grow: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
#logo {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  filter: brightness(200);
}
#logo img {
  max-height: 50px;
}
.social {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  gap: 10px;
  align-items: center;
  border-radius: 100px;
  background: var(--btn-bg);
}
.social button {
  border: none;
  background: none;
}

#burger {
  border: none;
  background: none;
  display: none;
  justify-content: center;
  height: 100%;
}
#burger img {
  height: 100%;
}

.block_one {
  height: 750px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px !important;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  background-image: url(./images/block_one_bg2.png);
}

.block_one strong {
  display: flex;
  gap: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 71px;
  color: white;
}
.block_one > strong span {
  font-size: 42px;
}

.line {
  width: 200px;
  height: 4px;
  background: white;
}
.btn-secondary {
  width: 400px;
  height: 80px;
  color: var(--color-main);
  background: var(--btn-bg);

  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;
  border: none;
  border-radius: 50px;
  transition: 0.5s;
}
.btn-secondary:hover {
  opacity: 0.9;
}

.block_two {
  padding-top: 40px;
  padding-bottom: 80px;
  background: var(--color-secondary);
  display: flex;
  flex-direction: column;
}
.block_two p,
.block_five > .container > p {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 36px;
  color: rgb(131, 131, 131);
}
.what_we_do {
  width: max-content;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 30px 20px;
}

.modal,
.modal2,
.modal3,
.modal4 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal_box,
.modal_box2,
.modal_box3,
.modal_box4 {
  max-width: 500px;
  padding: 45px;
  z-index: 1;
  margin: 30px 15px;
  background-color: #d4d2d0;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  transform: scale(0);
  transition: transform 0.8s;
}
.modal.open,
.modal.open2,
.modal.open3,
.modal.open4 {
  visibility: visible;
  opacity: 1;
}
.modal.open .modal_box,
.modal.open2 .modal_box2,
.modal.open3 .modal_box3,
.modal.open4 .modal_box4 {
  transform: scale(1);
}

#closeModal {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 24px;
  height: 24px;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity ease 0.5s;

  &:hover {
    opacity: 1;
  }
}

#closeModal::before,
#closeModal::after {
  content: "";
  position: absolute;
  top: 5px;
  display: block;
  width: 24px;
  height: 3px;
  background: #000;
}

#closeModal::before {
  transform: rotate(45deg);
}

#closeModal::after {
  transform: rotate(-45deg);
}

.we_do_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.we_do_img {
  position: relative;
  pointer-events: none;
}
.we_do_img > img {
  width: 100%;
  transition: 0.5s;
}
.we_do_block:hover {
  cursor: pointer;
}
.we_do_block:hover p {
  opacity: 100%;
  width: 100%;
}
.we_do_block:hover .right {
  padding-left: 15%;
}
.we_do_block:hover .left {
  padding-right: 15%;
}
.we_do_block:hover img {
  filter: brightness(70%);
}
.we_do_img > p {
  bottom: 20%;
  color: white;
  position: absolute;
  background: var(--color-main);

  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  display: flex;
  align-items: center;
  width: 85%;
  padding: 20px 10px;
  opacity: 75%;
  transition: 0.5s;
}
.left {
  text-align: left;
  left: 0;
}
.right {
  text-align: right;
  right: 0;
}

.block_three {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(./images/block_three_bg.png);
  padding: 30px 0;
}
.block_three_txt > p {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: white;
}
.block_three_txt > p > b {
  font-size: 50px;
}

.block_four {
  padding: 30px 0;
  background: var(--color-main);
}
.achievements {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.achievement {
  padding: 0 10px;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
}
.achievement:not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.394);
}
.achievement p {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: white;
}

.block_five {
  padding-top: 40px;
  padding-bottom: 20px;
  background: var(--color-secondary);
  display: flex;
  flex-direction: column;
}
.questions {
  padding: 50px 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.question {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.question img {
  max-width: 50px;
}
.question_txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question_txt p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgb(131, 131, 131);
}
.question_header {
  text-transform: uppercase;
  color: var(--color-main) !important;
}
#questions_first {
  border-bottom: 2px solid var(--btn-bg);
}
.block-six {
  padding: 50px 0;
  background-image: url(./images/block_six_bg.png);
  background-size: cover;
}

.block-six p,
.block-eight p {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: white;
}

.block-seven {
  padding: 40px 0 80px 0;
  background: var(--color-main);
}

.block_one_consult {
  height: 100%;
  width: 100%;
  gap: 100px !important;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 700;
  font-size: 26px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.container1 {
  gap: 25px;
  align-items: flex-start;
}
.container1 p {
  text-align: start;
}
.p-1 {
  font-weight: 500;
}
.p-2 {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.p-2 li {
  line-height: 1.2rem;
}
.p-2 li span {
  font-weight: 600;
}
.heading_consult {
  font-size: 35px;
  color: #606f68;
}
.heading_consult span {
  color: black;
  font-size: 60px;
  text-transform: uppercase;
}
.h1_h2,
.consult-request {
  align-self: flex-start;
}
.consult-request {
  background-color: var(--color-main);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border: none;
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: 0.8s;
  cursor: pointer;
}
.wrapper-block-one {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.wrapper-block-one {
  display: flex;
  flex-direction: column;
}
.block_two_consult {
  margin: 50px 0;
}
.wrapper-block-two > h5 {
  font-size: 42px;
  font-weight: 700;
}

.consult_cards {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 50px;
}
.consult_card {
  display: flex;
}
.consult_card > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.consult_card h5 {
  font-size: 20px;
}
.consult_card p {
  line-height: 25px;
}
.img-consult {
  width: 100%;
  position: relative;
}
#img-consult {
  width: 100%;
}
.block-eight {
  padding: 50px 0;
  background-image: url(./images/block_eight_bg.png);
  background-size: cover;
}
.block-seven .container {
  gap: 15px;
}
.block-seven h3,
.block-nine h3 {
  color: white;
}
.block-nine {
  background: var(--color-main);
  color: white;
}
.block-nine .card {
  box-shadow: none;
}
.block-nine .container {
  padding-top: 30px;
  padding-bottom: 80px;
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.consultations {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  margin-top: 40px;
}
.consultation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background: var(--btn-bg);
  padding: 20px;
  border-radius: 30px;
}
.consult-header {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: black;
  border-bottom: 1px solid var(--color-main);
  width: 100%;
  text-align: center;
  padding: 5px 0 15px 0;
}
.consult-info {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-main);
}
.consult-price {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
}
.consult-old-price {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  min-height: 29px;
  color: var(--color-main-bright);
  text-decoration: line-through;
}
.consult-register {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  background: var(--color-main);
  color: var(--btn-bg);

  border: none;
  padding: 20px 0;
  width: 80%;
  transition: 0.5s;
  border-radius: 50px;
}

.card-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 50px 30px;
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: whitesmoke;
  color: black;
  width: 100%;
  box-shadow: 0px 0px 20px var(--shadow);
  border-radius: 15px;
}
.prodcard {
  height: 100%;
  justify-content: space-between;
}
.card img {
  cursor: pointer;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 0.25s;
}
.card img:hover {
  filter: brightness(70%);
}

.block-ten {
  padding: 30px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: white;
}
.block-ten h3 {
  color: black;
}
.articles {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.article {
  display: flex;
  flex-direction: row;
  gap: 0;
  box-shadow: 0px 0px 20px var(--shadow);
  border-radius: 15px;
  overflow: hidden;
}
.article img {
  width: 50%;
}
.block-ten > a > button {
  font-size: 30px;
  box-shadow: 0px 0px 10px var(--shadow);
}
.article-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}
.article-info a {
  width: 100%;
}
.article-header {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: black;
}
.article-txt {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--color-main-bright);
}

.btn-more {
  background-color: var(--color-main);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border: none;
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: 0.8s;
  cursor: pointer;
}
.btn-more:hover,
.consult-register:hover {
  box-shadow: inset 0px 0px 20px white;
}

footer {
  background: var(--gradient-footer);
  color: white;
}

.footer {
  display: grid;
  gap: 220px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: start;
}
.footer > img {
  align-self: center;
  pointer-events: none;
  justify-self: center;
  width: 240px;
}
.footer-item-header {
  pointer-events: none;
  border-bottom: 1px solid white;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: white;
}
.footer-item-txt {
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-item-txt li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 32px;
  line-height: 1;
}

.footer-item-txt li > img {
  height: 24px;
}
.footer-item-txt p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
}
.copyrights {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer-bottom {
  height: 10px;
}
@media (max-width: 1024px) {
  h3 {
    font-size: 40px;
  }
  .container h2 {
    font-size: 55px;
  }
  .block_one > strong {
    font-size: 36px;
    text-align: center;
  }
  .block_three_txt > p {
    font-size: 35px;
  }
  .block_three_txt > p > b {
    font-size: 40px;
  }
  .block_five > .container > p {
    margin-bottom: 25px;
  }
  .block-six p,
  .block-eight p {
    font-size: 30px;
  }
  .block-six {
    padding: 30px 0;
  }
  .consult-header {
    font-size: 32px;
  }
  .block_one_consult {
    gap: 50px !important;
    padding: 50px 50px;
  }
  .heading_consult span {
    font-size: 50px;
  }
  .heading_consult {
    font-size: 30px;
  }
  .block-eight {
    padding: 30px 0;
  }
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 30px;
  }
  .footer {
    gap: 170px;
  }
}
@media (max-width: 768px) {
  a {
    font-size: 15px;
  }
  .block_two {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .what_we_do {
    width: 100%;
    display: grid;
  }
  .block_three,
  .block-six,
  .block-eight {
    padding: 20px 0;
  }
  .block_three_txt > p > b {
    font-size: 30px;
  }
  .block_three_txt > p,
  .block-six p,
  .block-eight p {
    font-size: 25px;
  }
  .block_five {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .block_one_consult {
    gap: 1px !important;
    padding: 0;
  }
  .heading_consult span {
    font-size: 40px;
  }
  .heading_consult {
    font-size: 20px;
  }
  .p-2 {
    font-size: 15px;
  }
  .wrapper-block-one {
    padding-left: 40px;
  }
  .container h2 {
    font-size: 40px;
  }
  .consultations {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 10px;
  }
  .consult-register {
    font-size: 22px;
    padding: 15px 0;
    width: 50%;
  }
  .consult-price {
    font-size: 30px;
  }
  .block-seven {
    padding: 20px 0 50px 0;
  }

  .block-nine .container {
    padding-top: 10px;
    padding-bottom: 40px;
    gap: 25px;
  }
  .article-header {
    font-size: 16px;
    line-height: 20px;
  }
  .article-txt {
    font-size: 15px;
    line-height: 20px;
  }
  .btn-more {
    font-size: 15px;
    padding: 6px 0;
  }
  .block-ten {
    padding: 20px 0 0 0;
    gap: 10px;
  }
  .footer {
    gap: 85px;
  }
  .footer-item-txt p {
    font-size: 13px;
  }
}
@media (max-width: 425px) {
  .what_we_do {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .modal_box,
  .modal_box2,
  .modal_box3,
  .modal_box4 {
    max-width: 300px;
    padding: 10px;
  }

  .questions {
    display: grid;
    grid-template-columns: 1fr;
  }
  .card-list {
    display: grid;
    grid-template-columns: 1fr;
  }
  .articles {
    display: grid !important;
    grid-template-columns: 1fr;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 390px) {
}
@media (max-width: 375px) {
}
