* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
}
* button,
* a {
  cursor: pointer;
}
* a {
  text-decoration: none;
  color: unset;
  font-family: unset;
}
:root {
  --color-main: #186c31;
  /* --color-main: #005546; */
  --color-main-bright: #4a6251;
  --color-main-dark: #125125;
  /* --color-secondary: #819a95; */
  --color-secondary: #d2d2d242;

  --btn-bg: #d4d2d0;

  --shadow: rgba(0, 0, 0, 0.25);
}

header {
  /* max-height: 64px; */
  /* max-width: 100%; */
  position: sticky;
  top: 0;
  background-color: var(--color-main);
  z-index: 9999;
  color: white;
}
main {
  display: flex;
  flex-direction: column;
}
h2 {
  color: #6c8167;
  text-transform: uppercase;
  font-size: 26px;
  max-width: 1180px;
  text-align: left;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  /* margin: 80px 0; */
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  color: black;
  text-align: center;
}
h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  text-align: center;
  color: white;
}
h5 {
  font-size: 16px;
  font-weight: 600;
}
h6 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

header {
  padding: 20px 0px;
}
.header {
  /* height: 64px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row !important;
}
.container {
  max-width: 1180px;
  width: 100vw;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.nav-list {
  flex-grow: 1;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list li {
  text-align: center;
  flex-grow: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
#logo {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  filter: brightness(200);
}
#logo img {
  max-height: 50px;
}
.social {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  gap: 10px;
  align-items: center;
  border-radius: 100px;
  background-color: var(--btn-bg);
}
.social button {
  border: none;
  background: none;
}

#burger {
  border: none;
  background: none;
  /* display: flex; */
  display: none;
  justify-content: center;
  height: 100%;
}
#burger img {
  height: 100%;
}

.block_one {
  height: 750px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px !important;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  background-image: url(./images/block_one_bg.png);
}

.block_one > strong {
  display: flex;
  gap: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 71px;
  color: white;
}

.line {
  width: 200px;
  height: 4px;
  background-color: white;
}
.btn-secondary {
  width: 400px;
  height: 80px;
  color: var(--color-main);
  background-color: var(--btn-bg);

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  border: none;
  border-radius: 0px 50px;
}

.block_two {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
}
.block_two p,
.block_five > .container > p {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 36px;
  color: rgb(131, 131, 131);
}
.what_we_do {
  max-width: 100%;
  width: max-content;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 30px 20px;
}
.we_do_block {
  /* max-width: 450px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 15px;
  overflow: hidden;
}
.we_do_block > button {
  border-radius: 50px;
  background-color: var(--btn-bg);
  border: none;
  padding: 15px 25px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-main);
}
.we_do_img {
  width: 100%;
  position: relative;
  pointer-events: none;
  /* overflow: hidden; */
}
.we_do_img > img {
  width: 100%;
  transition: 0.5s;
}
.we_do_block:hover {
  cursor: pointer;
}
.we_do_block:hover p {
  opacity: 100%;
  width: 100%;
  /* max-width: 100%; */
}
.we_do_block:hover .right {
  padding-left: 15%;
}
.we_do_block:hover .left {
  padding-right: 15%;
}
.we_do_block:hover img {
  filter: brightness(70%);
}
.we_do_img > p {
  bottom: 20%;
  color: white;
  position: absolute;
  /* background-color: var(--color-main-transparent); */
  background-color: var(--color-main);

  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  display: flex;
  align-items: center;
  width: 85%;
  padding: 20px 10px;
  opacity: 75%;
  transition: 0.5s;
}
.left {
  text-align: left;
  left: 0;
}
.right {
  text-align: right;
  right: 0;
}

.block_three {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(./images/block_three_bg.png);
  padding: 30px 0;
}
.block_three_txt > p {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: white;
}
.block_three_txt > p > b {
  font-size: 50px;
}

.block_four {
  padding: 30px 0;
  background-color: var(--color-main);
}
.achievements {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.achievement {
  padding: 0 10px;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
}
.achievement:not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.394);
}
.achievement p {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: white;
}

.block_five {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
}
.questions {
  /* margin-top: 50px; */
  padding: 50px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.question {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.question img {
  max-width: 50px;
}
.question_txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question_txt p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgb(131, 131, 131);
}
.question_header {
  text-transform: uppercase;
  color: var(--color-main) !important;
}
#questions_first {
  border-bottom: 2px solid var(--btn-bg);
}
/* ///////////////////////////////////////// */
.block-six {
  padding: 50px 0;
  background-image: url(./images/block_six_bg.png);
  background-size: cover;
}

.block-six p,
.block-eight p {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: white;
}
/* ///////////////////////////////////////// */
.block-seven {
  padding: 40px 0 80px 0;
  background-color: var(--color-main);
}
.block-eight {
  padding: 50px 0;
  background-image: url(./images/block_eight_bg.png);
  background-size: cover;
}
.block-seven .container {
  gap: 15px;
}
.block-seven h3,
.block-nine h3 {
  color: white;
}
.block-nine {
  background-color: var(--color-main);
  color: white;
}
.consultations {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  margin-top: 40px;
}
.consultation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--btn-bg);
  padding: 20px;
  border-radius: 30px;
}
.consult-header {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 46px;
  color: var(--color-main-bright);
  border-bottom: 1px solid var(--color-main);
  width: 100%;
  text-align: center;
  padding: 5px 0 15px 0;
}
.consult-info {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-main);
  /* margin-bottom: 15%; */
}
.consult-price {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
}
.consult-old-price {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  min-height: 29px;
  color: var(--color-main-bright);
  text-decoration: line-through;
}
.consult-register {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  background-color: var(--color-main);
  color: var(--btn-bg);

  border: none;
  padding: 20px 0;
  width: 80%;
  border-radius: 50px;
}

.card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  height: 100vh;
  gap: 25px;
}
.card {
  background-color: whitesmoke;
  color: black;
  max-height: 80vh;
  width: 100%;
  border-radius: 15px;
}
.card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 0.25s;
}
.card img:hover {
  filter: brightness(70%);
}

.block-ten {
  padding: 30px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.article {
  display: flex;
  flex-direction: row;
  gap: 0;
  box-shadow: 0px 0px 20px var(--shadow);
  border-radius: 15px;
  overflow: hidden;
}
.article img {
  /* flex-grow: 1; */
  width: 50%;
}
.block-ten > a > button {
  font-size: 30px;
  box-shadow: 0px 0px 10px var(--shadow);
}
.article-info {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}
.article-info a {
  width: 100%;
}
.article-header {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.article-txt {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--color-main-bright);
}

.btn-more {
  background-color: var(--color-main);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border: none;
  width: 100%;
  padding: 15px 0;

  text-align: center;
  color: white;
}

footer {
  background-color: var(--color-main-dark);
}

.footer {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 0;
  align-items: start;
}
.footer-item-header {
  padding: 10px 0;
  border-bottom: 2px solid white;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  color: white;
}
.footer-item-txt {
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-item-txt li {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer-item-txt p {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.nav-footer ul {
  gap: 16px;
}

@media (min-width: 375px) {
}

@media (min-width: 390px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
