.aboutMe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.aboutMe2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.aboutMe3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main img {
  height: 800px;
}
main > .container {
  padding-top: 30px;
  padding-bottom: 80px;
  gap: 50px;
  display: flex;
  flex-direction: column;
}
.about {
  padding: 15px;
}

@media (max-width: 675px) {
  .navigation {
    display: none;
  }
}
